.social-media {
    user-select: text;    
}


.social-media {
    width: calc(57% - 2em);
    margin-left: 2em;
}

/* .social-media .address {
    margin-bottom: 1.5rem;
} */

.social-media .address .alt {
    width: 100%;
}


@media screen and (min-width: 979px) {
    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .social-media .address :is(h2, dd) {
        text-align: right;
    }
}