@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.options {
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 12px;
    height: fit-content;
    margin: auto;
    transform: translate(259px, 12px) rotate(-100deg);
    /* transform-origin: -151px 158%; */
    transform-origin: -142px 207%;
}

.option-wrapper {
    position: relative;
    top: 14em;
    z-index: 1;
}

.options>div {
    transition: all 0.1s ease-in-out;
}

.options>div:hover {
    cursor: pointer;
    font-size: 27px;
    color: #462814be;
}

.options:hover>* {
    animation-play-state: paused;
}


@keyframes rotateC {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

@keyframes rotateC {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.options>div {
    --_speed: 4;
    color: black;
    position: absolute;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    transform-origin: -125px 50%;
    padding: 4px 12px 1px 0px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    animation: rotateC calc(var(--_speed) * 12s) linear infinite;
    font-weight: 600;
    font-size: 22px;
}

.wrapper {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 0;
    margin-top: 10.8em;

}

.wrapper .tech-illustration img {
    position: relative;
    width: 8em;
    display: flex;
    margin: auto;

}


@media screen and (min-width: 1680px) {
    #technologies {
        min-height: 33em;
    }
    .option-wrapper {
        top: 11.8em;
    }
    .wrapper {
        margin-top: 8.2em;
	}
}

@media screen and (max-width: 1679px) {
    #technologies {
        min-height: 38.5em;
    }
}

@media screen and (max-width: 1280px) {
	.option-wrapper {
		top: 16.8em;
	}
	.wrapper {
		margin-top: 14em;
	}
    .options {
        transform-origin: -137px 219%;
    }

}

@media screen and (max-width: 736px) {
    .options {
        transform-origin: -121px 269%;
    }
    .options>div {
        transform-origin: -107px 50%;
    }
    .option-wrapper {
		top: 15.8em;
	}
	.wrapper {
		margin-top: 13.2em;
	}
    #technologies {
        min-height: 36.5em;
    }
}

/* @media screen and (max-width: 590px) {
    .options>div {
        transform-origin: -136px 50%;
    }
} */

@media screen and (max-width: 500px) {
    .options {
        transform-origin: -126px 279%;
    }

    .options>div {
        transform-origin: -76px 78%;
        font-size: 19px;
    }

    .options>div:hover {
        font-size: 22px;
    }

    .wrapper {
        margin-top: 12.9em;

    }

    .wrapper .tech-illustration img {
        margin-top: -1.1em;
        width: 8em;
    }
}

@media screen and (max-width: 375px) {

    .options>div {
        transform-origin: -77px 89%;
    }

    .wrapper .tech-illustration img {
        margin-top: -2.1em;
    }

    .option-wrapper {
        top: 14em;
    }
}