
/* Your CSS */
.services-background {
  background-image: url('./../../images/tech company-amico (1).svg'); /* Replace 'your-image.jpg' with the path to your image */
  background-repeat: no-repeat;
  
  background-size: 34% auto;
 
  background-position: top 85% right; /* This will position the image to the center horizontally and to the right vertically */
  /* Add other styles as needed */
   /* Set the desired height for your div */
}
.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .sub-heading {
    font-weight: bold;
    cursor: pointer;
    font-size: x-large;
  }
  
  .services {
    display: none;
    margin-top: 5px;
  }
  
  .service {
    margin-top: 5px;
  }
  
  .show {
    display: block;
  }
  /* .contact-illustration img {
    width: calc(50% - 2em);
    margin-left: auto;
    margin-right: 50em;

  }
  
     .alt {
        margin-right: auto;
        margin-left: 50em;
      } */
      .flex-container {
        display: flex;
        flex-wrap: wrap; /* Wrap items to new row when there's not enough space */
        gap: 10px; /* Gap between flex items */
      }
      
      .flex-item {
        flex: 1; /* Allow items to grow and shrink equally */
        padding: 20px;
        text-align: center;

        width: calc(33.33% - 10px); /* Adjust width based on the number of columns */
        /* You can also use percentages for width */
        display: flex; /* Nested flex container */
        flex-direction: column; /* Stack content vertically */
        justify-content: center; /* Align content vertically in the middle */
      }
      .contact_us_info a {
            font-size: 1.5em;
            font-weight: bold;
  color: #465577ff;

      }
      